* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Section */

header {
    float: right;
    height: 100%;
    width: 75%;
    border: 1px solid black;
}

/* Nav Section */

main {
    float: right;
    width: 75%;
    border: 1px solid black;
}

/* Aside Section */

aside {
    position: absolute;
    float: left;
    clear: both;
    height: 100%;
    width: 25%;
    border: 1px solid black;
}

.navigation-grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.navigation {
    border: 1px solid black;
}

/* Footer Section */

footer {
    float: right;
    width: 75%;
    border: 1px solid black;
}